<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meta Shopping</title>
  <link th:href="@{/css/layout.css}" rel="stylesheet" >
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<!-- HEADER (include fragment) -->
<div th:replace="~{Layout/header :: header}"></div>

<!-- BODY -->
<main>

</main>

<!-- FOOTER (include fragment) -->
<div th:replace="~{Layout/footer :: footer}"></div>

<!-- JS -->
<script>
  document.getElementById("loadMore").addEventListener("click", function () {
    let hiddenProducts = document.querySelectorAll(".product-card.hidden");
    for (let i = 0; i < 2 && i < hiddenProducts.length; i++) {
      hiddenProducts[i].classList.remove("hidden");
    }
    if (document.querySelectorAll(".product-card.hidden").length === 0) {
      this.style.display = "none";
    }
  });
</script>

</body>
</html>
